[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyrtable = "==0.7.11"
octorest = "==0.4"
python-dotenv = "==0.17.1"
requests-toolbelt = "==0.9.1"
pysmb = "==1.2.7"

[dev-packages]

[requires]
python_version = "3.9"
